POSTGRES_DB=talos_db
POSTGRES_USER=talos_admin
POSTGRES_PASSWORD=talos_passwd
DATABASE_URL="postgresql+asyncpg://talos_admin:talos_passwd@db:5432/talos_db"

HOSTNAME=hostname

OLLAMA_BASE_URL="http://host.docker.internal:11434"

CREWAI_TRACING_ENABLED=true
PLANNER_MODEL=""
SCANNER_MODEL=""
TESTER_MODEL=""
SUMMARIZER_MODEL=""
CRITIC_MODEL=""
REPORTER_MODEL=""