# Database configuration
POSTGRES_PORT=5432
POSTGRES_HOST="db"
POSTGRES_DB="talos_db"
POSTGRES_USER="talos_admin"
POSTGRES_PASSWORD="talos_passwd"
DATABASE_URL="postgresql+asyncpg://talos_admin:talos_passwd@db:5432/talos_db"

# Backend configuration
DEV=true
BACKEND_PORT=8000
JWT_ALG="HS256"
REFRESH_TOKEN_EXPIRE_DAYS=7
ACCESS_TOKEN_EXPIRE_MINUTES=15
ACCESS_TOKEN_SECRET="access_token_secret"
REFRESH_TOKEN_SECRET="refresh_token_secret"

# AI & LLM Models
CREWAI_TRACING_ENABLED=true
OLLAMA_BASE_URL="http://host.docker.internal:11434"
GEMINI_API_KEY="gemini_api_secret_key"

PLANNER_MODEL=""
SCANNER_MODEL=""
TESTER_MODEL=""
SUMMARIZER_MODEL=""
CRITIC_MODEL=""
REPORTER_MODEL=""