# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
.vscode
.pytest_cache/
.coverage
.tox/
.mypy_cache/

# Environment variables
.env
.env.local
.env.*.local

# PostgreSQL
database/init/*.sql

# Misc
.DS_Store
/img/
DEV.md
LOG.md